<div class="general-info">
  <div class="info">
    <div class="info-wrap">
      <div class="info-seller">
        <h2 class="title">Информация о продавце</h2>
        <div class="field">
          <span class="label">Название компании: </span>
          <span class="value">{{ userInfo?.merchantGroup }}</span>
        </div>

        <div class="field">
          <span class="label">Адрес: </span>
          <span class="value">{{ userInfo?.merchantAddress }}</span>
        </div>
      </div>

      <div class="info-buyer">
        <h2 class="title">Информация о покупателе</h2>
        <div class="field">
          <span class="label">ФИО: </span>
          <span class="value">{{ userInfo?.fio }}</span>
        </div>

        <div class="field">
          <span class="label">Телефон 1: </span>
          <span class="value">{{ userInfo?.phoneFirst | phoneFormat }}</span>
        </div>

        <div class="field">
          <span class="label">Телефон 2: </span>
          <span class="value">{{ userInfo?.phoneSecond | phoneFormat }}</span>
        </div>
      </div>

      <div class="info-contract">
        <h2 class="title">Информация о договоре</h2>
        <div class="field">
          <span class="label">Количество товаров: </span>
          <span class="value">{{ userInfo?.products.length }}</span>
        </div>

        <div class="field">
          <span class="label">Общая сумма товаров: </span>
          <span class="value"
            >{{ userInfo?.productsSum | numberTransform : false }} сум</span
          >
        </div>

        <div class="field">
          <span class="label">Номер договора: </span>
          <span class="value">{{ userInfo?.contractId }}</span>
        </div>

        <div class="field">
          <span class="label">Дата договора: </span>
          <span class="value green">{{ userInfo?.contractDate }}</span>
        </div>
      </div>

      <div class="info-installments">
        <h2 class="title">Информация о договоре</h2>
        <div class="field">
          <span class="label">Срок погашения: </span>
          <span class="value">{{ userInfo?.periodUse }} мес.</span>
        </div>

        <div class="field">
          <span class="label">Общая сумма погашения: </span>
          <span class="value"
            >{{ userInfo?.totalSumForPay | numberTransform : false }} сум</span
          >
        </div>

        <div class="field">
          <span class="label">Последний платёж: </span>
          <span class="value green"
            >{{ userInfo?.lastPayDate ? userInfo?.lastPayDate : "не имеется" }}
          </span>
        </div>
      </div>
    </div>

    <app-product-list [products]="userInfo?.products"></app-product-list>
  </div>
  <app-activity [loanId]="userInfo?.loanId"></app-activity>
</div>
