.general-info {
  display: grid;
  margin-top: 32px;
  grid-template-columns: repeat(3, 1fr);

  .info {
    grid-column: 1/3;
    &-wrap {
      display: grid;
      gap: 40px;
      grid-template-areas:
        "seller buyer"
        "contract installments";
    }

    &-seller {
      grid-area: seller;
    }

    &-buyer {
      grid-area: buyer;
    }

    &-contract {
      grid-area: contract;
    }

    &-installments {
      grid-area: installments;
    }
  }

  [class^="info-"] {
    .title {
      font-size: 20px;
      font-weight: 600;
      color: #172b4d;
      margin-bottom: 12px;
    }

    .field {
      display: flex;
      margin-bottom: 5px;
      font-size: 14px;

      .label {
        margin-right: 3px;
      }

      .value {
        font-weight: 700;
        color: #172b4d;

        // &.green {
        //   font-size: 11px;
        //   background: #e3fcef;
        //   color: #006644;
        //   padding: 0 4px;
        // }
      }

      .telegram {
        display: flex;
        align-items: center;
        margin-left: 20px;

        [class^="icon-"]::before {
          font-size: 20px;
          color: #cfcfcf;
          transition: all 0.2s ease-in;
        }

        .text {
          margin-left: 5px;
          color: #6b778c;
          transition: all 0.2s ease-in;
        }

        &:hover {
          [class^="icon-"]::before {
            color: #2ea5dd;
          }

          .text {
            color: #6b778c;
            color: #172b4d;
          }
        }
      }
    }
  }
}
