<div class="general-info">
  <div class="info">
    <div class="info-wrap">
      <div class="info-seller">
        <h2 class="title">Информация о продавце</h2>
        <div class="field">
          <span class="label">Название компании: </span>
          <span class="value">Mediapark</span>
        </div>

        <div class="field">
          <span class="label">Адрес: </span>
          <span class="value">г. Ташкент, ул Ташкентская, дом 1</span>
        </div>
      </div>

      <div class="info-buyer">
        <h2 class="title">Информация о покупателе</h2>
        <div class="field">
          <span class="label">ФИО: </span>
          <span class="value">KAMALOV NODIR</span>
        </div>

        <div class="field">
          <span class="label">Телефон 1: </span>
          <span class="value">+998 97 642 36 45</span>
        </div>

        <div class="field">
          <span class="label">Телефон 2: </span>
          <span class="value">+998 97 642 36 45</span>
        </div>
      </div>

      <div class="info-contract">
        <h2 class="title">Информация о договоре</h2>
        <div class="field">
          <span class="label">Количество товаров: </span>
          <span class="value">5</span>
        </div>

        <div class="field">
          <span class="label">Общая сумма товаров: </span>
          <span class="value">7 198 799,00 сум</span>
        </div>

        <div class="field">
          <span class="label">Номер договора: </span>
          <span class="value">180115</span>
        </div>

        <div class="field">
          <span class="label">Дата договора: </span>
          <span class="value green">2022-10-03 18:15:17.129 +0500</span>
        </div>
      </div>

      <div class="info-installments">
        <h2 class="title">Информация о договоре</h2>
        <div class="field">
          <span class="label">Срок погашения: </span>
          <span class="value">6 месяцев</span>
        </div>

        <div class="field">
          <span class="label">Общая сумма погашения: </span>
          <span class="value">7 198 799,00 сум</span>
        </div>

        <div class="field">
          <span class="label">Последний платёж: </span>
          <span class="value green">2022-10-03 18:15:17.129 +0500</span>
        </div>
      </div>
    </div>

    <app-product-list></app-product-list>
  </div>
  <app-activity></app-activity>
</div>
