<div class="wrapper">
  <div class="col-1">
    <div class="info-installment-plan">
      <h2 class="title">Информация о продавце</h2>

      <div class="field">
        <span class="label">Магазин:</span>
        <span class="value">{{ userInfo?.data.merchant.vendor_name }}</span>
      </div>

      <div class="field">
        <span class="label">Адрес:</span>
        <span class="value">{{ userInfo?.data.merchant.vendor_address }}</span>
      </div>

      <div class="field">
        <span class="label">Владелец магазина ФИО:</span>
        <span class="value">{{ userInfo?.data.merchant.vendor_owner }}</span>
      </div>

      <div class="field">
        <span class="label">Владелец номер телефона:</span>
        <span class="value"
          >{{
            userInfo?.data.merchant.vendor_phone | mask : "+000 00 000 00 00"
          }}

          <app-get-history-calls
            *ngIf="userInfo?.data.merchant.vendor_phone"
            [phone]="userInfo?.data.merchant.vendor_phone"
          ></app-get-history-calls>
        </span>
      </div>

      <div class="field">
        <span class="label">Оператор ФИО:</span>
        <span class="value">{{ userInfo?.data.merchant.vendor_cio }}</span>
      </div>

      <div class="field">
        <span class="label">Оператор Телефон:</span>
        <span class="value"
          >{{
            userInfo?.data.merchant.vendor_cio_phone
              | mask : "+000 00 000 00 00"
          }}
          <app-get-history-calls
            *ngIf="userInfo?.data.merchant.vendor_cio_phone"
            [phone]="userInfo?.data.merchant.vendor_cio_phone"
          ></app-get-history-calls>
        </span>
      </div>
    </div>

    <div class="info-contract">
      <h2 class="title">Информация о рассрочки</h2>

      <div class="field">
        <span class="label">Первый платеж:</span>
        <span class="value"
          >{{ userInfo?.data.claimsInfo.claims_first_pay_date }}
        </span>
      </div>

      <div class="field">
        <span class="label">Номер договора:</span>
        <span class="value"
          >{{ userInfo?.data.claimsInfo.claims_loan_id }}
        </span>
      </div>

      <div class="field">
        <span class="label">Срок погашения:</span>
        <span class="value"
          >{{ userInfo?.data.claimsInfo.claims_period }}
          {{
            userInfo?.data.claimsInfo.claims_period
              | declensionOfWords : ["месяц", "месяца", "месяцев"]
          }}
        </span>
      </div>

      <div class="field">
        <span class="label">Общая сумма товаров:</span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_amount | numberTransform : false
        }}</span>
      </div>

      <div class="field">
        <span class="label">Сумма рассрочки:</span>
        <span class="value"
          >{{
            userInfo?.data.claimsInfo.claims_amount | numberTransform : false
          }}
        </span>
      </div>

      <div class="field">
        <span class="label">Ежемесячный платёж:</span>
        <span class="value">
          <app-lozenge2 className="blue" [fontSize]="14">{{
            userInfo?.data.claimsInfo.claims_monthly | numberTransform : false
          }}</app-lozenge2>
        </span>
      </div>

      <div class="field">
        <span class="label">Код погашения:</span>
        <span class="value copy"
          ><span #copyText class="copyText">{{
            userInfo?.data.claimsInfo.claims_contract_id
          }}</span>
          <span (click)="copy($event)" class="icon-copy"
            ><span class="path1"></span><span class="path2"></span
            ><span class="path3"></span
          ></span>
        </span>
      </div>

      <div class="field">
        <span class="label">СМС код:</span>
        <span class="value"
          >{{ userInfo?.data.claimsInfo.claims_sms_code }}
        </span>
      </div>
    </div>

    <app-product-list-confirm
      [products]="userInfo?.data.products"
    ></app-product-list-confirm>
  </div>

  <div class="col-2">
    <div class="info-seller">
      <div class="title addInfo">
        <h2>Информация о клиенте</h2>
        <button (click)="addInfo('ADD_PHONE')">Добавить номер телефона</button>
      </div>

      <app-add-info-list type="ADD_PHONE"></app-add-info-list>

      <div class="field">
        <span class="label">Возраст:</span>
        <span class="value">
          {{ userInfo?.data.client.client_age }}
          {{
            userInfo?.data.client.client_age
              | declensionOfWords : ["год", "года", "лет"]
          }}
        </span>
      </div>

      <div class="field">
        <span class="label">Дата рождения:</span>
        <span class="value">
          {{ userInfo?.data.client.client_bday }}
        </span>
      </div>

      <div class="field">
        <span class="label">Паспорт:</span>
        <span class="value"
          >{{ userInfo?.data.client.client_doc_data | mask : "AA 0000000" }}
        </span>
      </div>

      <div class="field">
        <span class="label">Дата выдачи:</span>
        <span class="value">
          {{ userInfo?.data.client.client_doc_issue }}
        </span>
      </div>

      <div class="field">
        <span class="label">Дата окончания:</span>
        <span class="value"
          >{{ userInfo?.data.client.client_doc_expire }}
        </span>
      </div>

      <div class="field">
        <span class="label">Место выдачи документа:</span>
        <span class="value">
          {{ userInfo?.data.client.client_doc_issued_by }}
        </span>
      </div>

      <div class="field">
        <span class="label">Постоянный регион MYID:</span>
        <span class="value">
          {{ userInfo?.data.client.client_address_reg_perm }}
        </span>
      </div>

      <div class="field">
        <span class="label">Постоянный район MYID: </span>
        <span class="value">
          {{ userInfo?.data.client.client_address_dist_perm }}
        </span>
      </div>

      <div class="field">
        <span class="label">Постоянный адрес MYID:</span>
        <span class="value">
          {{ userInfo?.data.client.client_address_perm }}
        </span>
      </div>

      <div class="field">
        <span class="label">Временный регион MYID:</span>
        <span class="value">
          {{ userInfo?.data.client.client_addreess_reg_temp || "-" }}
        </span>
      </div>

      <div class="field">
        <span class="label">Временный район MYID:</span>
        <span class="value">
          {{ userInfo?.data.client.client_addreess_dist_temp || "-" }}
        </span>
      </div>

      <div class="field">
        <span class="label">Временный адрес MYID:</span>
        <span class="value">
          {{ userInfo?.data.client.client_addreess_temp || "-" }}
        </span>
      </div>

      <div class="field">
        <span class="label">Клиент указал регион:</span>
        <span class="value">
          {{ userInfo?.data.client.client_region_given }}
        </span>
      </div>

      <div class="field">
        <span class="label">Клиент указал район:</span>
        <span class="value">
          {{ userInfo?.data.client.client_district_given }}
        </span>
      </div>

      <div class="field">
        <span class="label">Клиент указал адрес:</span>
        <span class="value">
          {{ userInfo?.data.client.client_address_given }}
        </span>
      </div>
    </div>

    <div class="info-add">
      <div class="title addInfo">
        <h2>Дополнительная информация</h2>
        <button (click)="addInfo('ADD_OTHER')">Добавить инфо</button>
      </div>

      <app-add-info-list type="ADD_OTHER"></app-add-info-list>
    </div>
  </div>
</div>

<app-add-client-info-pop-up
  *ngIf="flag"
  [type]="type"
  [formData]="formData"
  [mask]="type === 'ADD_PHONE' ? '+000 00 000 00 00' : ''"
></app-add-client-info-pop-up>

<app-remove-add-client-info-pop-up
  *ngIf="isRemoveClientInfo"
  [id]="addClientInfoId"
></app-remove-add-client-info-pop-up>
