<div class="tr">
  <div class="td idx">{{ insurance.idx }}</div>
  <div class="td date">{{ insurance.insurance.date }}</div>
  <div class="td cancellation_date">{{ insurance.insurance.declinedDate }}</div>
  <div class="td card">{{ insurance.insurance.cardNumber }}</div>
  <div class="td sum">
    <app-lozenge2 className="grey">{{
      insurance.insurance.sum | numberTransform : false
    }}</app-lozenge2>
  </div>

  <div class="td status">
    <!-- <app-lozenge
      [className]="
        insurance.insurance.declined === 'Успешно'
          ? 'success'
          : insurance.insurance.declined === 'Отменен'
          ? 'danger'
          : 'default'
      "
      >{{ insurance.insurance.declined }}</app-lozenge
    > -->

    <app-lozenge
      [className]="dictionary[insurance.insurance.declined] || 'default'"
      >{{ insurance.insurance.declined }}</app-lozenge
    >
  </div>

  <div class="td cancel">
    <span
      *ngIf="
        insurance.insurance.type === 'INVOICE' &&
        !insurance.insurance.declinedDate
      "
      (click)="cancelInvoice(insurance.insurance.id)"
      class="icon-cl0ose"
      ><span class="path1"></span><span class="path2"></span
    ></span>

    <app-download-file
      *ngIf="insurance.insurance.type === 'INVOICE'"
      [type]="insurance.insurance.file.invoiceMimeType"
      [base64]="insurance.insurance.file.invoiceFile"
      [filename]="
        insurance.insurance.date.replaceAll(':', '_').replaceAll('.', '_') +
        ' INVOICE'
      "
    >
      <span class="icon-download"
        ><span class="path1"></span><span class="path2"></span
        ><span class="path3"></span><span class="path4"></span
      ></span>
    </app-download-file>
  </div>
</div>
