[class^="loz-"] {
  padding: 2px 8px;
  border-radius: 22px;
  font-size: 14px;
}

.loz-success {
  background: #d3f8e7;
  color: #437c69;
}

.loz-warning {
  background: #fdf2c5;
  color: #a77f4f;
}

.loz-danger {
  background: #f8d3d3;
  color: #7c4343;
}

.loz-default {
  background: #f8f8f8;
  color: #808080;
}
