.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;

  &:disabled {
    background: #f4f5f7;
    color: #253858;
    cursor: no-drop;

    &:hover {
      background: #f4f5f7;
      color: inherit;
    }
  }
}

.primaryBtn {
  background: var(--blue-color);
  color: var(--white-color);

  &:hover {
    background: #0065ff;
  }
}

.successBtn {
  background: var(--green-color);
  color: var(--white-color);

  &:hover {
    background: #0dcea1;
  }
}

.failurBtn {
  background: var(--red-color);
  color: var(--white-color);

  &:hover {
    background: #cf0c0c;
  }
}

.defaultBtn {
  background: #f4f5f7;
  color: #253858;

  &.active,
  &:hover {
    background: #5e6c84;
    color: #fff;
  }
}

::ng-deep {
  .defaultBtn:hover [class^="icon-"] .path2:before {
    color: #fff !important;
  }
}

::ng-deep {
  [class^="icon-"] {
    font-size: 22px !important;
    margin-right: 5px;
  }
}

.subtleBtn {
  background: transparent;
  color: #8993a4;

  &:hover {
    background: #f4f5f7;
  }
}

.small {
  padding: 2px 4px;
  font-weight: 700;
}

.medium {
  padding: 6px 12px;
}

.big {
  padding: 6px 42px;
}

.full {
  padding: 6px 0;
  width: 100%;
}
