<div class="product-list">
  <div class="table">
    <div class="thead">
      <div class="tr">
        <div class="td name">Название</div>
        <div class="td price">Цена</div>
      </div>
    </div>
    <div class="tbody">
      <ng-container *ngFor="let product of products; let idx = index">
        <app-product-list-confirm-item
          [idx]="idx + 1"
          [product]="product"
        ></app-product-list-confirm-item>
      </ng-container>
    </div>
  </div>

  <strong>Всего товаров: {{ products?.length }}</strong>
</div>
