<div class="credit-info-item">
  <h2 class="title">Заявка № {{ userInfo?.claimsId }}</h2>
  <p class="text">
    Тут показано все собранные товары клиента за текущее время. Нужно учитывать,
    что общая сумма товара не должно превышать максимальную сумму рассрочки.
    <a href="#">Подробнее</a>
  </p>

  <div class="tabs">
    <button
      (click)="toggleTab('info')"
      [class]="tab === 'info' ? 'active' : ''"
    >
      Общая информация
    </button>
    <button
      (click)="toggleTab('schedule')"
      [class]="tab === 'schedule' ? 'active' : ''"
    >
      График платежей
    </button>
  </div>
  <div class="content">
    <app-general-info
      [userInfo]="userInfo"
      *ngIf="tab === 'info'"
    ></app-general-info>
    <app-payment-schedule
      [schedules]="userInfo.schedule"
      *ngIf="tab === 'schedule'"
    ></app-payment-schedule>
  </div>
</div>
