<div class="tr">
  <div class="td month">{{ schedule.idx }}</div>
  <div class="td date">{{ schedule.schedule.date }}</div>
  <div class="td debt">
    <app-lozenge2 className="blue">{{
      schedule.schedule.needPaid | numberTransform : false
    }}</app-lozenge2>
  </div>
  <div class="td paid">
    <!-- <app-lozenge2 className="grey">{{
      +schedule.schedule.factPaid + +schedule.schedule.reCount
        ? (+schedule.schedule.factPaid + +schedule.schedule.reCount
          | numberTransform : false)
        : "0,00"
    }}</app-lozenge2> -->
    <app-lozenge2 className="grey">{{
      +schedule.schedule.factPaid
        ? (+schedule.schedule.factPaid | numberTransform : false)
        : "0,00"
    }}</app-lozenge2>
  </div>

  <div class="td recalculation">
    <app-lozenge2 className="grey">{{
      schedule.schedule.reCount | numberTransform : false
    }}</app-lozenge2>
  </div>

  <div class="td remainder">
    <app-lozenge2 className="grey">{{
      schedule.schedule.currentDebt | numberTransform : false
    }}</app-lozenge2>
  </div>
  <div class="td status">
    <app-lozenge
      [className]="
        status?.code === 1
          ? 'success'
          : status?.code === 2
          ? 'warning'
          : status?.code === 0
          ? 'danger'
          : 'default'
      "
      >{{ status?.name }}</app-lozenge
    >
  </div>
  <div class="td insurance">
    <app-lozenge2 className="grey">{{
      schedule.schedule.insurancePay | numberTransform : false
    }}</app-lozenge2>
  </div>
</div>
