<div class="tr">
  <div class="td month">{{ schedule.idx }}</div>
  <div class="td date">{{ schedule.schedule.date }}</div>
  <div class="td debt">
    <span class="price-blue">{{
      schedule.schedule.needPaid | numberTransform : false
    }}</span>
  </div>
  <div class="td paid">
    <span class="price-grey">{{
      +schedule.schedule.factPaid + +schedule.schedule.reCount
        | numberTransform : false
    }}</span>
  </div>
  <div class="td remainder">
    <span class="price-grey">{{
      schedule.schedule.currentDebt | numberTransform : false
    }}</span>
  </div>
  <div class="td status">
    <app-lozenge
      [className]="
        status?.code === 1
          ? 'success'
          : status?.code === 2
          ? 'warning'
          : status?.code === 0
          ? 'danger'
          : 'default'
      "
      >{{ status?.name }}</app-lozenge
    >
  </div>
</div>
