.pagination-block {
  display: flex;
  justify-content: center;
  align-items: center;

  .page {
    display: flex;
    align-items: center;

    span {
      font-weight: 600;
      margin-right: 10px;
    }
  }
}

.my-pagination ::ng-deep {
  .ngx-pagination {
    margin: 0;
  }

  .ngx-pagination .current {
    background: #253858;
    width: auto;
    height: 32px;
    border-radius: 3px;
    padding: 6px 12px;
  }

  .ngx-pagination a {
    width: auto;
    height: 32px;
    border-radius: 3px;
    padding: 6px 12px;
  }

  .ngx-pagination a:hover,
  .ngx-pagination button:hover {
    background: #e6e6e6;
  }

  .pagination-next a::after,
  .pagination-next.disabled::after {
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 0;
    border-top: 2px;
    border-left: 0;
    border-right: 2px;
    transform: rotate(45deg);
    border-style: solid;
    // border-color: #253858;
    margin-left: -1px;
  }

  .pagination-previous a::before,
  .pagination-previous.disabled::before {
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 0;
    border-top: 2px;
    border-left: 0;
    border-right: 2px;
    transform: rotate(-135deg);
    border-style: solid;
    // border-color: #253858;
  }

  .pagination-previous,
  .pagination-next {
    width: 32px;
  }
}
