<app-button (click)="upload()" className="btn primaryBtn medium"
  >ДОБАВИТЬ ФАЙЛ</app-button
>
<input #inputFile class="inputFile" type="file" />

<!-- <ng-template #template let-notification>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="icon-check-circle"
        ><span class="path1"></span><span class="path2"></span
      ></span>
      <div class="ant-notification-notice-message">Добавление файла EXCEL</div>
      <div class="ant-notification-notice-description">
        Файл добавлен успешно
      </div>
      <span class="ant-notification-notice-btn">
        <button
          nz-button
          nzType="primary"
          nzSize="small"
          (click)="notification.close()"
        >
          <span>Confirm</span>
        </button>
      </span>
    </div>
  </div>
</ng-template> -->
