<div class="activity-form">
  <div class="activity-form__wrap">
    <span (click)="closeForm()" class="close icon-cl0ose"
      ><span class="path1"></span><span class="path2"></span
    ></span>
    <h2 class="title">Добавить информацию</h2>
    <form class="form" [formGroup]="form" (ngSubmit)="submitHandler()">
      <div class="field-form">
        <app-input-form
          [form]="form"
          controlName="description"
          placeholder="Введите данные"
          label="Наименование информации"
        ></app-input-form>
        <div
          *ngIf="
            form.get('description')?.touched && form.get('description')?.invalid
          "
          class="validation"
        >
          <!-- <pre>

          {{ form.get("description")?.errors | json }}
        </pre
          > -->

          <small *ngIf="form.get('description')?.errors?.required">
            Введите данные
          </small>
          <small *ngIf="form.get('description')?.errors?.spaceOnly">
            Неккоректные данные
          </small>
        </div>
      </div>

      <div class="field-form">
        <app-input-form
          [form]="form"
          controlName="value"
          placeholder="Введите данные"
          label="Текст"
          [mask]="mask"
        ></app-input-form>
        <!-- <pre>
          {{ form.get("value")?.errors | json }}
        </pre> -->
        <div
          *ngIf="form.get('value')?.touched && form.get('value')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('value')?.errors?.required">
            Введите данные
          </small>

          <small *ngIf="form.get('value')?.errors?.mask">
            Некорректные данные
          </small>
        </div>
      </div>

      <div class="btns">
        <app-button
          type="submit"
          [disabled]="form.invalid || submitted"
          className="btn primaryBtn medium"
          >Создать</app-button
        >
        <app-button
          type="button"
          (click)="closeForm()"
          className="btn defaultBtn medium"
          >Отмена</app-button
        >
      </div>
    </form>
  </div>
</div>
