<div class="credits">
  <div class="table">
    <div class="thead">
      <div class="tr">
        <div class="td order">#</div>
        <div class="td contractId">
          <span class="sort" (click)="sort($event, 'contractId')">
            ID#
            <i #sorting class=""></i>
          </span>
        </div>
        <div class="td vendor">
          <span class="sort" (click)="sort($event, 'vendor')"
            >ВЕНДОР <i #sorting class=""></i
          ></span>
        </div>
        <div class="td fullname">ФИО КЛИЕНТА</div>
        <div class="td phone">ТЕЛЕФОН 1</div>
        <div class="td phone2">ТЕЛЕФОН 2</div>
        <div class="td createdAt">НАЧАЛО КРЕДИТА</div>
        <div class="td creditEnd">ПОСЛЕДНЯЯ ОПЛАТА</div>
        <div class="td notified">Статус</div>
      </div>
    </div>
    <div *ngIf="!loading; else loadingBlock" class="tbody">
      <ng-container
        *ngFor="
          let credit of credits
            | paginate
              : {
                  itemsPerPage: count,
                  currentPage: currentPage,
                  totalItems: totalItems
                };
          let idx = index
        "
      >
        <app-credit [idx]="idx + 1" [credit]="credit"></app-credit>
      </ng-container>
    </div>
    <ng-template #loadingBlock>
      <app-loader></app-loader>
    </ng-template>
  </div>

  <pagination-controls
    class="my-pagination"
    previousLabel=""
    nextLabel=""
    [autoHide]="true"
    (pageChange)="pageChanged($event)"
  ></pagination-controls>
</div>
