<div class="wrap-sidebar">
  <div class="header">
    <div class="avatar">
      <img src="../../../assets/img/avatars.svg" alt="" />
      <div class="user">
        <div class="fio">KAMALOV NODIR</div>
        <div class="store">MEDIAPARK</div>
      </div>
    </div>
    <div class="navigation">
      <a routerLink="/">
        <!-- <span class="icon-arrow-left-circle"
          ><span class="path1"></span><span class="path2"></span
        ></span> -->
        <span class="aui-icon aui-icon-small aui-iconfont-arrow-left-circle"
          >Insert meaningful text here for accessibility</span
        >
        <span class="text">Назад к списку</span></a
      >
    </div>
  </div>

  <div class="menu">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/credit">
          <span class="icon-person"
            ><span class="path1"></span><span class="path2"></span
            ><span class="path3"></span
          ></span>
          <span class="text">Клиент</span>
        </a>
      </li>
    </ul>
  </div>
</div>
