:root {
  --blue-color: #0052cc;
  --blue-darck-color: #344563;
  --blue-light-color: #b3d4ff;
  --white-color: #fff;
  --grey-color: #6b778c;
  --black-color: #282d30;
  --green-color: #0bb990;
  --red-color: #b90b0b;
}
