[class^="loz-"] {
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: 700;
}

.loz-blue {
  background: #deebff;
  color: #0747a6;
}

.loz-green {
  background: #e3fcef;
  color: #006644;
}

.loz-grey {
  background: #f4f4f4;
  color: #2e3a59;
}

.loz-default {
  // background: transparent;
  // color: #808080;
}
