.menu-wrap {
  margin-left: 24px;

  .menu {
    display: flex;
    li {
      .menu-item {
        display: inline-flex;
        align-items: center;
        position: relative;
        // min-width: 208px;
        height: 40px;
        margin: 0 5px;
        border-radius: 3px;
        padding: 0 13px;

        &:hover {
          background: rgba(9, 30, 66, 0.04);
        }

        &:hover .text {
          color: var(--blue-color);
        }

        &:hover [class^="icon"] .path2:before,
        &:hover [class^="icon"] .path1:before {
          color: var(--blue-color);
        }

        [class^="icon"] {
          font-size: 24px;
        }

        &.active {
          background: rgba(9, 30, 66, 0.04);

          .text {
            color: var(--blue-color);
          }

          [class^="icon"] .path2:before,
          [class^="icon"] .path1:before {
            color: var(--blue-color);
          }
        }

        .text {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          color: var(--blue-darck-color);
          padding: 6px 12px;
          border-radius: 5px;
        }
      }
    }
  }
}
