<div class="menu-wrap">
  <ul class="menu">
    <li>
      <a
        class="menu-item"
        routerLinkActive="active"
        routerLink="confirmation-credits"
      >
        <span>Подтверждение</span>
      </a>
    </li>

    <li>
      <a
        class="menu-item"
        routerLinkActive="active"
        routerLink="credits"
        [queryParams]="{ type: 'foreclosure' }"
        queryParamsHandling="merge"
      >
        <span>Взыскание</span>
      </a>
    </li>

    <li>
      <a class="menu-item" routerLinkActive="active" routerLink="accompaniment">
        <span>Сопровождение</span>
      </a>
    </li>

    <li>
      <a class="menu-item" routerLinkActive="active" routerLink="calculation">
        <span>Расчет суммы товара</span>
      </a>
    </li>
  </ul>
</div>
