<div class="menu-wrap">
  <ul class="menu">
    <li>
      <a
        class="menu-item"
        routerLinkActive="active"
        routerLink="confirmation-credits"
      >
        <span class="icon-subtask"
          ><span class="path1"></span><span class="path2"></span
          ><span class="path3"></span
        ></span>
        <span class="text">Подтверждение</span>
      </a>
    </li>

    <li>
      <a class="menu-item" routerLinkActive="active" routerLink="credits">
        <span class="icon-arrow-down-circle"
          ><span class="path1"></span><span class="path2"></span
        ></span>
        <span class="text">Взыскание</span>
      </a>
    </li>

    <li>
      <a
        class="menu-item"
        routerLinkActive="active"
        routerLink="accompaniment-credits"
      >
        <span class="icon-documenlt"
          ><span class="path1"></span><span class="path2"></span
        ></span>
        <span class="text">Сопровождение</span>
      </a>
    </li>

    <li>
      <a class="menu-item" routerLinkActive="active" routerLink="calculation">
        <span class="icon-documenlt"
          ><span class="path1"></span><span class="path2"></span
        ></span>
        <span class="text">Расчет суммы товара</span>
      </a>
    </li>
  </ul>
</div>
