<div class="notification">
  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-icon">
      <img src="../../../../../assets/img/notification.svg" alt="" />
    </div>

    <div class="notification-content">
      <div class="header">
        <h4 class="title">Заявка № 14476</h4>
        <div class="send-date">10 май 2023 16:29:31</div>
      </div>

      <div class="notification-date">
        Напоминание настроено на 10.05.2023 16:29:31
      </div>

      <div class="comment">Какой-то текст</div>
    </div>
  </div>
</div>
