.info {
  &-wrap {
    grid-area: info-header;

    display: grid;
    width: fit-content;
    margin-top: 32px;
    column-gap: 20px;
    grid-template-areas: "avatar genaral1 genaral2 funcBtns";
    grid-template-columns: 116px 435px 306px 190px;
    padding: 16px;

    border-radius: 15px;
    border: 1px solid #f0f0f2;
    background: #fbfbfb;
  }

  &-genaral1,
  &-genaral2 {
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-auto-rows: max-content;
    gap: 5px;
  }

  &-genaral1 {
    grid-area: genaral1;
    .label {
      width: 140px;
    }
  }

  &-genaral2 {
    grid-area: genaral2;
    .label {
      min-width: 110px;
    }
  }

  &-avatar {
    // margin-top: -16px;
    // margin-bottom: -16px;
    grid-area: avatar;
    // clip-path: ellipse(50% 58px at 50% 50%);

    border-radius: 10px;
    border: 1px solid #f0f0f2;
    transition: opacity 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    .wrapper-avatar {
      position: relative;

      .avatar {
        cursor: pointer;
        border-radius: 10px;
        transition: opacity 0.2s ease-in;
      }

      &:hover .avatar {
        opacity: 0.5;
      }

      &:hover .icon-zoom-in {
        opacity: 1;
      }

      .icon-zoom-in {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        font-size: 50px !important;
        opacity: 0;
        transition: opacity 0.1s ease-in;
      }
    }
  }
}

[class^="info-"] {
  // .title {
  //   font-size: 20px;
  //   font-weight: 600;
  //   color: #172b4d;
  //   margin-bottom: 12px;
  // }

  .field {
    display: flex;
    align-items: center;
    // margin-bottom: 5px;
    font-size: 14px;

    .label {
      margin-right: 3px;
    }

    .value {
      // flex-grow: 1;
      font-weight: 700;
      color: #172b4d;

      // &.green {
      //   font-size: 11px;
      //   background: #e3fcef;
      //   color: #006644;
      //   padding: 0 4px;
      // }
    }

    .companyTin {
      width: 20px;
      margin-left: 10px;
    }

    .card {
      font-family: "Roboto Mono";
      display: flex;
      gap: 12px;
    }

    .telegram {
      display: flex;
      align-items: center;
      margin-left: 20px;

      [class^="icon-"]::before {
        font-size: 20px;
        color: #cfcfcf;
        transition: all 0.2s ease-in;
      }

      .text {
        margin-left: 5px;
        color: #6b778c;
        transition: all 0.2s ease-in;
      }

      &:hover {
        [class^="icon-"]::before {
          color: #2ea5dd;
        }

        .text {
          color: #6b778c;
          color: #172b4d;
        }
      }
    }
  }
}

.funcBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  grid-area: funcBtns;

  .commentConfrim {
    .comment {
    }
  }
}
