<div class="credit-info-item">
  <h2 class="title">Заявка № {{ apiService.claimsId }}</h2>
  <p class="text">
    Тут показано все собранные товары клиента за текущее время. Нужно учитывать,
    что общая сумма товара не должно превышать максимальную сумму рассрочки.
    <a href="#">Подробнее</a>
  </p>

  <div class="funcBtns">
    <app-button (click)="confirmCredit('1')" className="btn medium successBtn"
      >Одобрить</app-button
    >
    <app-button (click)="confirmCredit('0')" className="btn medium failurBtn"
      >Отказать</app-button
    >
  </div>

  <div class="tabs">
    <button
      (click)="toggleTab('info')"
      [class]="tab === 'info' ? 'active' : ''"
    >
      Общая информация
    </button>
    <button
      (click)="toggleTab('schedule')"
      [class]="tab === 'schedule' ? 'active' : ''"
    >
      New tab template
    </button>
  </div>
  <div class="content">
    <app-general-user-info-confirmation-credit
      [userInfo]="userInfo"
      *ngIf="tab === 'info'"
    ></app-general-user-info-confirmation-credit>
    <div *ngIf="tab === 'schedule'"></div>
  </div>
</div>
