.credit-info-item {
  width: 100%;
  height: 100%;
  padding: 44px 50px;
  overflow: auto;

  .title {
    font-size: 24px;
    color: #172b4d;
  }

  .info {
    &-wrap {
      display: grid;
      min-width: fit-content;
      margin-top: 32px;
      column-gap: 20px;
      grid-template-areas: "avatar genaral1 genaral2 funcBtns";
      grid-template-columns: 116px 435px 306px 190px;
      padding: 16px;

      border-radius: 15px;
      border: 1px solid #f0f0f2;
      background: #fbfbfb;
    }

    &-genaral1,
    &-genaral2 {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &-genaral1 {
      grid-area: genaral1;
      .label {
        width: 140px;
      }
    }

    &-genaral2 {
      grid-area: genaral2;
      .label {
        min-width: 110px;
      }
    }

    &-avatar {
      // margin-top: -16px;
      // margin-bottom: -16px;
      grid-area: avatar;
      // clip-path: ellipse(50% 58px at 50% 50%);

      .wrapper-avatar {
        position: relative;

        &:hover img {
          opacity: 0.5;
        }

        &:hover .icon-zoom-in {
          opacity: 1;
        }

        .icon-zoom-in {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -25px;
          margin-top: -25px;
          font-size: 50px;
          opacity: 0;
          transition: opacity 0.1s ease-in;
        }

        img {
          cursor: pointer;
          border-radius: 10px;
          border: 1px solid #f0f0f2;
          transition: opacity 0.2s ease-in;
        }
      }
    }
  }

  [class^="info-"] {
    // .title {
    //   font-size: 20px;
    //   font-weight: 600;
    //   color: #172b4d;
    //   margin-bottom: 12px;
    // }

    .field {
      display: flex;
      align-items: center;
      // margin-bottom: 5px;
      font-size: 14px;

      .label {
        margin-right: 3px;
      }

      .value {
        // flex-grow: 1;
        font-weight: 700;
        color: #172b4d;

        // &.green {
        //   font-size: 11px;
        //   background: #e3fcef;
        //   color: #006644;
        //   padding: 0 4px;
        // }
      }

      .companyTin {
        width: 20px;
        margin-left: 10px;
      }

      .card {
        font-family: "Roboto Mono";
        display: flex;
        gap: 12px;
      }

      .telegram {
        display: flex;
        align-items: center;
        margin-left: 20px;

        [class^="icon-"]::before {
          font-size: 20px;
          color: #cfcfcf;
          transition: all 0.2s ease-in;
        }

        .text {
          margin-left: 5px;
          color: #6b778c;
          transition: all 0.2s ease-in;
        }

        &:hover {
          [class^="icon-"]::before {
            color: #2ea5dd;
          }

          .text {
            color: #6b778c;
            color: #172b4d;
          }
        }
      }
    }
  }

  .funcBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    grid-area: funcBtns;

    .commentConfrim {
      .comment {
      }
    }
  }

  .tabs {
    margin-top: 34px;
    column-gap: 16px;
    border-bottom: 2px solid #ebecf0;

    button {
      font-size: 14px;
      font-weight: 600;
      color: #42526e;
      padding: 8px 0;
      margin-right: 16px;
      margin-bottom: -2px;

      &.active {
        color: #0052cc;
        border-bottom: 2px solid #0052cc;
      }
    }
  }

  .content {
    margin-top: 20px;
  }
}
