.activity {
  &-wrap {
    margin-top: 28px;
    .title {
      font-size: 20px;
      font-weight: 600;
      // padding-left: 20px;
    }

    .content {
      // border-left: 2px solid #ebecf0;
      padding: 0 0 10px 20px;
      // height: calc(100vh - 397px);
      overflow: auto;

      .filter-wrap {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 10;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 14px;

        .filter {
          background: #fff;
          display: flex;

          .add {
            margin-left: 8px;
          }
        }

        .icon-filter {
          font-size: 20px;
        }
      }
    }
  }
}
