.payment-schedule {
  // display: grid;
  // grid-template-columns: repeat(24, 1fr);
  width: 80%;
  margin-top: 32px;

  &__wrap {
    // grid-column: span 20;
    .header {
      display: flex;
      align-items: start;
      justify-content: space-between;

      .title {
        font-size: 20px;
        font-weight: 600;
      }
    }

    .max-amount {
      display: flex;
      align-items: center;
      gap: 28px;

      margin: 16px 0 24px 0;

      .icon-pipelines {
        font-size: 28px;
        margin-right: 5px;

        transition: all 0.5s ease;
        transform: rotate(0deg);

        &.loader {
          animation: move 0.5s infinite linear;
        }
      }

      @keyframes move {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(180deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.schedule-list {
  // margin-top: 47px;
}

.thead {
  .td {
    font-size: 12px;
    color: #6b778c;
    font-weight: 600;
  }
  border-bottom: 2px solid rgba(9, 30, 66, 0.08);
}

.tr {
  display: grid;
  grid-template-columns: 40px repeat(7, auto);
  grid-template-areas: "month date debt paid recalculation remainder status insurance";
  grid-template-rows: 40px;
  column-gap: 10px;
  align-items: center;
}

.month {
  grid-area: month;
  width: 40px;
}

.date {
  grid-area: date;
  width: 70px;
}

.debt {
  grid-area: debt;
  width: 80px;
}

.paid {
  grid-area: paid;
  width: 80px;
}

.recalculation {
  grid-area: recalculation;
  width: 80px;
}

.remainder {
  grid-area: remainder;
  width: 80px;
}

.status {
  grid-area: status;
  width: 150px;
}

.insurance {
  grid-area: insurance;
  width: 80px;
}

.total {
  margin-top: 16px;

  .price {
    color: #172b4d;
    font-weight: 700;
  }
}
