<div class="payment-schedule">
  <div class="payment-schedule__wrap">
    <div class="header">
      <h2 class="title">График платежей</h2>
      <app-print-schedule [token]="schedules.token"></app-print-schedule>
    </div>

    <div class="schedule-list">
      <div class="table">
        <div class="thead">
          <div class="tr">
            <div class="td month">Месяц</div>
            <div class="td date">Дата</div>
            <div class="td debt">Должен оплатить</div>
            <div class="td paid">Оплачено</div>
            <div class="td remainder">Остаток</div>
            <div class="td status">Статус</div>
            <div class="td insurance">Оплачено страховкой</div>
          </div>
        </div>

        <div class="tbody">
          <ng-container
            *ngFor="let schedule of schedules.payschedule; let idx = index"
          >
            <app-payment-item
              [status]="dicService.getStatus(dic, schedule.status)"
              [schedule]="{ idx: idx + 1, schedule }"
            ></app-payment-item>
          </ng-container>
        </div>
      </div>

      <div class="total">
        <span class="text">Остаток задолженности: </span
        ><span class="price"
          >{{ schedules.totaldebt | numberTransform : false }} сум</span
        >
      </div>
    </div>
  </div>
</div>
