<div class="payment-schedule">
  <div class="payment-schedule__wrap">
    <div class="header">
      <h2 class="title">График платежей</h2>
      <app-print-schedule
        [token]="userInfo.schedule.token"
      ></app-print-schedule>
    </div>

    <div class="max-amount">
      <div class="item">
        <span>Остаток на {{ maxAmountData.date }}: </span>
        <app-lozenge2 className="blue">{{
          maxAmountData.lastMaxAmount | numberTransform : false
        }}</app-lozenge2>
      </div>

      <div class="item">
        <span>Текущий остаток: </span>
        <app-lozenge2 className="green">{{
          maxAmountData.currentMaxAmount | numberTransform : false
        }}</app-lozenge2>
      </div>

      <div class="item">
        <span>Оплаченно за сегодня: </span>
        <app-lozenge2 className="grey">{{
          maxAmountData.diff | numberTransform : false
        }}</app-lozenge2>
      </div>

      <app-button (click)="getMaxAmount()" className="btn medium subtleBtn"
        ><span #pipelines class="icon-pipelines"
          ><span class="path1"></span><span class="path2"></span></span
        >Обновить</app-button
      >
    </div>

    <div class="schedule-list">
      <div class="table">
        <div class="thead">
          <div class="tr">
            <div class="td month">Месяц</div>
            <div class="td date">Дата</div>
            <div class="td debt">Должен оплатить</div>
            <div class="td paid">Оплачено</div>
            <div class="td recalculation">Перерасчет</div>
            <div class="td remainder">Остаток</div>
            <div class="td status">Статус</div>
            <div class="td insurance">Оплачено страховкой</div>
          </div>
        </div>

        <div class="tbody">
          <ng-container
            *ngFor="
              let schedule of userInfo.schedule.payschedule;
              let idx = index
            "
          >
            <app-payment-item
              [status]="dicService.getStatus(dic, schedule.status)"
              [schedule]="{ idx: idx + 1, schedule }"
            ></app-payment-item>
          </ng-container>
        </div>
      </div>

      <div class="total">
        <span class="text">Остаток задолженности: </span
        ><span class="price"
          >{{ userInfo.schedule.totaldebt | numberTransform : false }} сум</span
        >
      </div>
    </div>
  </div>
</div>
