.credits {
  display: grid;
  align-content: space-between;
  height: calc(100vh - 255px);
  margin-top: 15px;
}

.table {
  overflow-x: auto;
  // height: calc(100vh - 317px);

  .thead {
    position: sticky;
    top: 0;
    background: #fff;
    .tr {
      color: var(--grey-color);
      font-size: 12px;
    }
  }

  .tbody {
    border-bottom: 2px solid rgba(9, 30, 66, 0.08);
    border-top: 2px solid rgba(9, 30, 66, 0.08);
    width: fit-content;
  }
}

.sort {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    z-index: -1;
  }
  &::before {
    // font-size: 20px;
  }
}

.tr {
  display: grid;
  grid-template-rows: 40px;
  align-items: center;
  column-gap: 10px;

  grid-template-areas: "order claimsId vendor fio claimsDate step result_step";

  grid-template-columns:
    30px minmax(70px, 0.1fr) minmax(300px, 1fr)
    minmax(290px, 1fr) minmax(150px, 0.5fr) minmax(100px, 0.5fr) minmax(500px, 1fr);

  .td:not(.order) {
    display: flex;
    align-items: center;
  }
}

.order {
  text-align: center;
  grid-area: order;
  // width: 30px;
}

.claimsId {
  grid-area: claimsId;
  // width: 70px;
}

.vendor {
  grid-area: vendor;
  // width: 300px;
}

.fio {
  grid-area: fio;
  // width: 290px;
}

.claimsDate {
  grid-area: claimsDate;
  // width: 290px;
}

.step {
  grid-area: step;
}

.phoneFirst {
  grid-area: phoneFirst;
  // width: 136px;
}

.phoneSecond {
  grid-area: phoneSecond;
  // width: 136px;
}

.result_step {
  grid-area: result_step;
  // width: 280px;
}
