<div class="info-wrap">
  <!-- <pre>
    {{ userInfo | json }}
  </pre> -->
  <div class="info-seller">
    <h2 class="title">Информация о продавце</h2>

    <div class="field">
      <span class="label">Название магазина: </span>
      <span class="value">{{ userInfo?.data.merchant.vendor }}</span>
    </div>

    <div class="field">
      <span class="label">Адрес: </span>
      <span class="value">{{ userInfo?.data.merchant.address }}</span>
    </div>
  </div>

  <div class="info-buyer">
    <h2 class="title">Информация о покупателе</h2>
    <div class="field">
      <span class="label">ФИО: </span>
      <span class="value">{{ userInfo?.data.client.fullName }}</span>
    </div>

    <div class="field">
      <span class="label">Номер карты: </span>
      <span class="value">{{ userInfo?.data.client.cardNumber }}</span>
    </div>

    <div class="field">
      <span class="label">Срок действия карты: </span>
      <span class="value">{{ userInfo?.data.client.cardDate }}</span>
    </div>

    <div class="field">
      <span class="label">Телефон 1: </span>
      <span class="value">{{
        userInfo?.data.client.phone_1 | phoneFormat
      }}</span>
      <a
        *ngIf="
          userInfo?.data.client.phone_1 &&
          userInfo?.data.client.phone_1 != '+000000000000'
        "
        [href]="'https://t.me//' + userInfo?.data.client.phone_1"
        class="telegram"
        target="_blank"
        ><span class="icon-telegram"></span
        ><span class="text">Написать</span></a
      >
    </div>

    <div class="field">
      <span class="label">Телефон 2: </span>
      <span class="value">{{
        userInfo?.data.client.phone_2 | phoneFormat
      }}</span>
      <a
        *ngIf="
          userInfo?.data.client.phone_2 &&
          userInfo?.data.client.phone_2 != '+000000000000'
        "
        [href]="'https://t.me//' + userInfo?.data.client.phone_2"
        class="telegram"
        target="_blank"
        ><span class="icon-telegram"></span
        ><span class="text">Написать</span></a
      >
    </div>
  </div>

  <div class="info-contract">
    <h2 class="title">Информация о договоре</h2>
    <div class="field">
      <span class="label">Количество товаров: </span>
      <span class="value">{{ userInfo?.data.contract.productsTotal }}</span>
    </div>

    <div class="field">
      <span class="label">Общая сумма товаров: </span>
      <span class="value"
        >{{
          userInfo?.data.contract.productsAmount | numberTransform : false
        }}
        сум</span
      >
    </div>

    <div class="field">
      <span class="label">ID кредита для оплаты: </span>
      <span class="value">{{ userInfo?.data.contract.contractId }}</span>
    </div>

    <div class="field">
      <span class="label">Номер договора: </span>
      <span class="value">{{ userInfo?.data.contract.loanId }}</span>
    </div>

    <div class="field">
      <span class="label">Дата договора: </span>

      <app-lozenge2 className="green">{{
        userInfo?.data.contract.contractDate
      }}</app-lozenge2>
    </div>
  </div>

  <div class="info-installments">
    <h2 class="title">Условия договора рассрочки</h2>
    <div class="field">
      <span class="label">Срок погашения: </span>
      <span class="value">{{ userInfo?.data.loanInfo.period }} мес.</span>
    </div>

    <div class="field">
      <span class="label">Общая сумма погашения: </span>
      <span class="value"
        >{{
          userInfo?.data.loanInfo.loanAmount | numberTransform : false
        }}
        сум</span
      >
    </div>

    <div class="field">
      <span class="label">Ежемесячный платёж: </span>
      <span class="value"
        >{{
          userInfo?.data.loanInfo.monthly | numberTransform : false
        }}
        сум</span
      >
    </div>

    <div class="field">
      <span class="label">Первый платёж: </span>
      <!-- <span class="value green"
        >{{ userInfo?.lastPayDate ? userInfo?.lastPayDate : "не имеется" }}
      </span> -->
      <app-lozenge2 className="green">{{
        userInfo?.data.loanInfo.firstPayDate
      }}</app-lozenge2>
    </div>
  </div>
</div>
