.statistics_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 290px);
  height: calc(100vh - 110px);

  .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 320px;

    .title {
      font-size: 20px;
      font-weight: 600;
    }

    .text {
      text-align: center;
    }
  }
}
