<div class="tr">
  <div class="td idx">{{ call.idx }}</div>
  <div class="td date">
    {{ call.call.timestamp | dateTimeFormat : "numeric" : undefined : true }}
  </div>
  <div class="td card">{{ call.call.operator }}</div>
  <div class="td sum">
    <app-lozenge2 className="grey">{{
      call.call.answeredDuration | timeFormat
    }}</app-lozenge2>
  </div>

  <div class="td status">
    <app-lozenge [className]="dicClass[status?.code || 1]">{{
      status?.name
    }}</app-lozenge>
  </div>
</div>
