.notification-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  .notification {
    position: relative;
    width: 472px;
    height: 824px;
    background: #ffffff;
    box-shadow: 0px 18px 28px rgba(9, 30, 66, 0.15),
      0px 0px 1px rgba(9, 30, 66, 0.31);
    border-radius: 3px;
    padding: 22px 24px;

    .close {
      position: absolute;
      top: 0;
      right: 0;
    }

    .title {
      font-size: 24px;
      font-weight: 600;
      color: #091e42;
    }

    .tabs {
      margin-bottom: 40px;
    }
  }
}
