<div class="activity">
  <app-button (click)="createActivity(loanId)" className="btn primaryBtn medium"
    >Создать взаимодействие</app-button
  >

  <div class="activity-wrap">
    <h2 class="title">Активность</h2>
    <div class="content">
      <div class="filter">
        <span>Показать: </span>
        <app-button
          #action
          (click)="toogleActive($event, 'all')"
          class="add"
          className="btn defaultBtn small active"
          >Все</app-button
        >
        <app-button
          #action
          (click)="toogleActive($event, 'new')"
          class="add"
          className="btn defaultBtn small"
          >Новые</app-button
        >
        <app-button
          #action
          (click)="toogleActive($event, 'old')"
          class="add"
          className="btn defaultBtn small"
          >Старые</app-button
        >
      </div>

      <ng-container *ngFor="let action of actions; let idx = index">
        <app-activity-item
          [type]="
            dicService.getStatus(this.dicService.actionTypeDic, action.type)
          "
          [action]="action"
        ></app-activity-item>
      </ng-container>
    </div>
  </div>
</div>
