.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .main {
    display: flex;
    width: 100%;
    overflow: hidden;
    transition: width 0.3s ease;

    .wrap-content {
      flex-grow: 1;
    }
  }
}
