.tr {
  display: grid;
  grid-template-rows: 40px;
  align-items: center;
  column-gap: 10px;

  // grid-template-columns: 30px 70px 136px 30% 136px 136px 90px 90px 100px;

  // grid-template-areas: "order claimsId vendor fio phoneFirst phoneSecond contractDate status";
  grid-template-areas: "order claimsId vendor fio contractSum contractDate status";

  grid-template-columns:
    30px minmax(70px, 0.1fr) minmax(300px, 1fr)
    minmax(290px, 1fr) 125px /*125px*/ minmax(200px, 1fr) 125px;

  .td:not(.order) {
    display: flex;
    align-items: center;
  }
}

.order {
  text-align: center;
  grid-area: order;
  // width: 30px;
}

.claimsId {
  grid-area: claimsId;
  // width: 70px;
}

.vendor {
  grid-area: vendor;
  // width: 300px;
}

.fio {
  grid-area: fio;
  // width: 290px;
}

.contractSum {
  grid-area: contractSum;
}

.phoneFirst {
  grid-area: phoneFirst;
  // width: 136px;
}

.phoneSecond {
  grid-area: phoneSecond;
  // width: 136px;
}

.contractDate {
  grid-area: contractDate;
  // width: 280px;
}

.status {
  grid-area: status;
  // width: 120px;
}

.my-pagination ::ng-deep {
  display: grid;
  justify-content: center;

  .ngx-pagination .current {
    background: #253858;
    width: auto;
    height: 32px;
    border-radius: 3px;
    padding: 6px 12px;
  }

  .ngx-pagination a {
    width: auto;
    height: 32px;
    border-radius: 3px;
    padding: 6px 12px;
  }

  .ngx-pagination a:hover,
  .ngx-pagination button:hover {
    background: #e6e6e6;
  }

  .pagination-next a::after,
  .pagination-next.disabled::after {
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 0;
    border-top: 2px;
    border-left: 0;
    border-right: 2px;
    transform: rotate(45deg);
    border-style: solid;
    // border-color: #253858;
    margin-left: -1px;
  }

  .pagination-previous a::before,
  .pagination-previous.disabled::before {
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 0;
    border-top: 2px;
    border-left: 0;
    border-right: 2px;
    transform: rotate(-135deg);
    border-style: solid;
    // border-color: #253858;
  }

  .pagination-previous,
  .pagination-next {
    width: 32px;
  }
}
