.tr {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  &.active {
    background: #deebff;
  }

  &:not(.active):hover {
    background: #efefef;
  }

  .fullname {
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
