<div
  [routerLink]="['/credit', credit.credit.claimsId]"
  class="tr"
  [class.active]="credit.credit.id === currentId"
>
  <div class="td order">{{ credit.idx }}</div>
  <div class="td contractId">{{ credit.credit.contractId }}</div>
  <div class="td vendor">{{ credit.credit.vendor }}</div>
  <div class="td fullname">
    <span
      >{{ credit.credit.lastname }} {{ credit.credit.firstname }}
      {{ credit.credit.middlename }}</span
    >
  </div>
  <!-- <div class="td phone">{{ credit.phone | dateTimeFormat : true }}</div> -->
  <div class="td phoneFirst">{{ credit.credit.phoneFirst | phoneFormat }}</div>
  <div class="td phoneSecond">
    {{ credit.credit.phoneSecond | phoneFormat }}
  </div>
  <div class="td contractDate">
    {{ credit.credit.contractDate | dateTimeFormat }}
  </div>
  <!-- <div class="td creditEnd">
    {{ credit.creditEnd | numberTransform : false }}
  </div> -->
  <div class="td lastPayDate">
    {{ credit.credit.lastPayDate | dateTimeFormat }}
  </div>
  <div class="td status">
    <app-lozenge className="{{ status?.code === 1 ? 'success' : 'warning' }}">{{
      status?.name
    }}</app-lozenge>
  </div>
</div>
