<div
  [routerLink]="['/credit', credit.id]"
  class="tr"
  [class.active]="credit.id === currentId"
>
  <div class="td order">{{ idx }}</div>
  <div class="td contractId">{{ credit.contractId }}</div>
  <div class="td vendor">{{ credit.vendor }}</div>
  <div class="td fullname">{{ credit.fullname }}</div>
  <!-- <div class="td phone">{{ credit.phone | dateTimeFormat : true }}</div> -->
  <div class="td phone">{{ credit.phone }}</div>
  <div class="td phone2">{{ credit.phone2 }}</div>
  <div class="td createdAt">{{ credit.createdAt }}</div>
  <!-- <div class="td creditEnd">
    {{ credit.creditEnd | numberTransform : false }}
  </div> -->
  <div class="td creditEnd">
    {{ credit.creditEnd }}
  </div>
  <div class="td notified">
    <app-lozenge className="{{ credit.notified ? 'success' : 'warning' }}">{{
      credit.notified ? "Уведомл." : "Не уведомл."
    }}</app-lozenge>
  </div>
</div>
