<div *ngIf="!loading; else loadingBlock" class="userInfo-wrap">
  <h2 class="title">Кредит #{{ userInfo.loanId }}</h2>

  <div class="userInfo">
    <div class="notified">
      <app-lozenge
        className="{{ userInfo.notified ? 'success' : 'warning' }}"
        >{{ userInfo.notified ? "Уведомл." : "Не уведомл." }}</app-lozenge
      >
    </div>

    <div class="userInfo-part">
      <h4 class="subTitle">Данные клиента</h4>

      <div class="field">
        <div class="label">Имя</div>
        <div class="value">{{ userInfo.fullname }}</div>
      </div>

      <div class="field">
        <div class="label">ПИНФЛ</div>
        <div class="value">{{ userInfo.pinfl }}</div>
      </div>

      <div class="field">
        <div class="label">Номер телефона</div>
        <div class="value">{{ userInfo.phone }}</div>
      </div>

      <div class="field">
        <div class="label">Доп. номер</div>
        <div class="value">{{ userInfo.phoneSecond }}</div>
      </div>

      <div class="field">
        <div class="label">Почта</div>
        <div class="value">{{ userInfo.email }}</div>
      </div>

      <div class="field">
        <div class="label">Адрес</div>
        <div class="value">{{ userInfo.address }}</div>
      </div>

      <div class="field">
        <div class="label">Номер карты</div>
        <div class="value">{{ userInfo.cardNumber }}</div>
      </div>
    </div>

    <div class="separate"></div>

    <div class="userInfo-part">
      <h4 class="subTitle">Дополнительные данные</h4>

      <div class="field">
        <div class="label">Дата оформления и время</div>
        <div class="value">{{ userInfo.createdAt }}</div>
      </div>

      <div class="field">
        <div class="label">Сумма кредита</div>
        <div class="value">{{ userInfo.creditSum }}</div>
      </div>

      <div class="field">
        <div class="label">Завершение</div>
        <div class="value">{{ userInfo.creditEnd }}</div>
      </div>

      <div class="field">
        <div class="label">Последняя оплата</div>
        <div class="value">{{ userInfo.lastPay }}</div>
      </div>

      <div class="field">
        <div class="label">Итоговый долг</div>
        <div class="value">{{ userInfo.totalDebt }}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingBlock>
  <app-loader></app-loader>
</ng-template>
