.action {
  margin-top: 26px;

  &-wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;

    .avatar {
      span {
        font-size: 32px;
      }
    }

    .action_content {
      .action_autor-wrap {
        margin-bottom: 5px;
        .action_autor {
          font-weight: 600;
          color: #172b4d;
        }

        .date {
          color: #6b778c;
        }
      }

      .comment {
        color: #253858;
        margin-top: 4px;
      }
    }
  }

  .edit {
    display: flex;
    align-items: center;
    margin-left: -2px;
  }

  .separate-point {
    &::after {
      display: block;
      content: "";
      width: 3px;
      height: 3px;
      background: #8993a4;
      margin: 0 5px;
      border-radius: 50%;
    }
  }
}
