.action {
  margin-top: 26px;

  &-wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;

    .avatar {
      span {
        font-size: 32px;
      }
    }

    .action_content {
      .action_autor-wrap {
        margin-bottom: 5px;
        .action_autor {
          font-weight: 600;
          color: #172b4d;
        }

        .date {
          color: #6b778c;
        }
      }

      .comment {
        color: #253858;
        margin-top: 4px;
      }
    }
  }

  .edit {
    display: flex;
    align-items: center;
    margin-left: -2px;

    &-wrap {
      position: relative;
      .tooltip {
        position: absolute;
        left: 0;
        top: 30px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 245px;
        &::before {
          position: absolute;
          margin-top: -19px;
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid #ccc;
          border-radius: 3px;
          transform: rotate(45deg);
          z-index: -1;
        }

        .confirm {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 10px;
          margin-top: 10px;
        }
      }
    }
  }

  .separate-point {
    &::after {
      display: block;
      content: "";
      width: 3px;
      height: 3px;
      background: #8993a4;
      margin: 0 5px;
      border-radius: 50%;
    }
  }
}
