<div class="wrapper">
  <div class="col-1">
    <div class="info-installment-plan">
      <h2 class="title">Информация о клиенте</h2>

      <div class="field">
        <span class="label">Фамилия: </span>
        <span class="value">{{ userInfo?.data.claimsInfo.claims_period }}</span>
      </div>

      <div class="field">
        <span class="label">Имя: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_amount | numberTransform : false
        }}</span>
      </div>

      <div class="field">
        <span class="label">Отчество: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">Пол: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">Номер телефона: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">Гражданство: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">Дата рождения: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">Номер паспорта и серия: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">ПИНФЛ: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">Дата выдачи: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">Дата окончания: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">Тип документа: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>

      <div class="field">
        <span class="label">Место выдачи документа: </span>
        <span class="value">{{
          userInfo?.data.claimsInfo.claims_monthly | numberTransform
        }}</span>
      </div>
    </div>
  </div>
</div>
