<div class="wrap-sidebar">
  <div class="header">
    <div class="avatar">
      <img src="../../../assets/img/productIcon.svg" alt="" />
      <!-- <span class="icon-user-avatar-circle"
        ><span class="path1"></span><span class="path2"></span
      ></span> -->
      <div class="user">
        <div class="fioProfile">LENDO Рассрочка</div>

        <!-- <div class="store">MEDIAPARK</div> -->
      </div>
    </div>
  </div>

  <div class="menu">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/credits']">
          <span class="icon-menu"
            ><span class="path1"></span><span class="path2"></span
          ></span>
          <span class="text">ГЛАВНАЯ</span>
        </a>
      </li>

      <!-- <pre>
        {{ apiService.profile | json }}
      </pre> -->

      <li
        *ngIf="apiService.profile.username === 'support_admin'"
        routerLinkActive="active"
      >
        <a [routerLink]="['documents']">
          <span class="icon-documenlt"
            ><span class="path1"></span><span class="path2"></span
          ></span>
          <span class="text">EXCEL</span>
        </a>
      </li>
    </ul>
  </div>
</div>
