<div class="header-page">
  <h2 class="title-page">Пользователи</h2>
  <app-update-credits></app-update-credits>
</div>

<div class="tabs">
  <button (click)="toggleTab('all')" [class]="tab === 'all' ? 'active' : ''">
    Все пользователи
  </button>

  <button (click)="toggleTab('time')" [class]="tab === 'time' ? 'active' : ''">
    Заявки за месяц
  </button>
</div>

<ng-container *ngIf="tab === 'all'">
  <app-search-credits [value]="searchValue"></app-search-credits>

  <app-accompaniment-user-list [filter]="tab"></app-accompaniment-user-list>
</ng-container>

<ng-container *ngIf="tab === 'time'">
  <app-accompaniment-user-time-list></app-accompaniment-user-time-list>
</ng-container>
