<div id="header">
  <div class="logoAndMenu">
    <a routerLink="" class="logo">
      <img src="../../../assets/img/logo.svg" alt="" />
    </a>

    <app-menu></app-menu>
  </div>

  <div class="funcIcons">
    <div class="wrapper-bell">
      <span
        *ngIf="webSocketService.new_notifications?.count"
        class="isNotification"
      ></span>

      <div class="bell" [class]="webSocketService.new_notification">
        <span (click)="openNotification()" class="icon-notification"
          ><span class="path1"></span><span class="path2"></span>
        </span>
      </div>
    </div>

    <span (click)="keycloak.logout()" class="icon-sign-out"
      ><span class="path1"></span><span class="path2"></span
      ><span class="path3"></span
    ></span>
  </div>
</div>
