#header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 12px;

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -2px;
    content: "";
    height: 4px;
    background: linear-gradient(
      180deg,
      rgba(9, 30, 66, 0.13) 0%,
      rgba(9, 30, 66, 0.13) 25%,
      rgba(9, 30, 66, 0.08) 25.01%,
      rgba(9, 30, 66, 0) 100%
    );
  }

  .logoAndMenu {
    display: flex;
  }

  .funcIcons {
    display: flex;
    align-items: center;

    .wrapper-bell {
      position: relative;

      [class^="icon"] {
        font-size: 20px;
        cursor: pointer;
        margin-right: 15px;

        position: relative;
      }

      .isNotification {
        position: absolute;
        width: 8px;
        height: 8px;
        background: #de350b;
        // bottom: 100%;
        // left: 100%;
        border-radius: 2px;
        margin: -4px 0 0 16px;
      }
    }
  }
}

.new_notification {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 0;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes animate {
  // 0%,
  // 100% {
  //   transform: rotate(0deg);
  // }
  // 10%,
  // 90% {
  //   transform: rotate(-85deg);
  // }
  // 40%,
  // 90% {
  //   transform: rotate(0deg);
  // }
  // 50% {
  //   transform: rotate(-85deg);
  // }

  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-85deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
