<div *ngIf="label" class="label">{{ label }}</div>
<label class="input-wrap">
  <input
    *ngIf="mask; else withoutMask"
    #input
    class="input"
    [value]="value"
    [type]="type"
    [placeholder]="placeholder"
    [ngStyle]="styles"
    [mask]="mask"
    [disabled]="disabled"
  />
  <ng-template #withoutMask>
    <input
      #input
      class="input"
      [value]="value"
      [type]="type"
      [placeholder]="placeholder"
      [ngStyle]="styles"
      [disabled]="disabled"
    />
  </ng-template>
  <i *ngIf="icon" class="icon" [class]="icon"></i>
</label>
